name: release
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'release tag'
        required: true
jobs:
  goreleaser:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - run: git tag ${{ github.event.inputs.tag }}
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.23'
      - name: goreleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: '~> v2'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.DEPLOY_TOKEN }}